/node_modules
/public/bower_components/ckeditor
/public/bower_components/ckfinder
/public/bower_components/font-awesome
/public/bower_components/select2
/public/hot
/public/upload
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
dump.html
